 body {
  margin: 0;
}

.splash {
  text-align: center;
}

h1 {
  font-family: 'PT Sans Narrow Bold', sans-serif;
  font-size: 1.875em;
  color: #323232;
}

h2 {
  font-family: 'PT Sans Narrow Bold', sans-serif;
  font-size: 1.5em;
  color: #00897f;
  text-transform: uppercase;
}

h3 {
  font-family: 'PT Serif', serif;
  font-size: 1em;
  line-height: 2em;
  color: #323232;
}
a:link {
  text-decoration: none;
}
a {
    font-family: 'PT Serif Bold', serif;
    font-size: 1em;
    color: #f26522;
}
nav h1 {
  font-family: "PT Sans Narrow Bold", sans-serif;
  font-size: 1.5em;
  color: #323232;
}

/* p {
  font-family: 'PT Serif', serif;
  font-size: .875em;
  line-height: 1.75em;
  color: #323232;
}*/

.main {}
  /* kat's motivation */
  .content-shop {
    display: block;
    background-color: yellow;
    margin: 80px 60px;
    padding: 0 15%;
    width: 1230;
    max-width: 60%;

  }
.nav-title {
  text-align: center;


}
.nav-description {

  text-align: left;
}

/* ABOUT section */
.content-info {
  display: flex;
  flex-wrap: wrap;
  margin: 0 160;
  justify-content: space-around;
  background-color: green;
}

.info-1 {
  order: 1;
  background-color: #eeeeee;
  padding: 30;
  width: 40%;
}

.info-2 {
  order: 2;
  background-color: #eeeeee;
  padding: 30;
  width: 40%;
}
.image-box {
  display: flex;
  text-align: center;
  margin: 80px 0;
}
#image-1 {
  width: 33.33333%
}
#image-2 {
  width: 33.33333%
}
#image-3 {
  width: 33.33333%
}
.round {
  border-radius: 75%;
  padding: 0 55px;
}
.content-contact {
  display: flex;
  flex-wrap: wrap;
  background-color: #eeeeee;
  width: 1230;
  max-width: 95%;
  justify-content: space-around;
  padding-bottom: 80px;
}

.contact-title {
  order: 0;
  margin-bottom: 45px;
  width: 100%;
}
.contact-1 {
  order: 1;
  text-align: left;
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 30px;
  width: 40%;
}
.contact-2 {
  order: 2;
  text-align: left;
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 30px;
  width: 40%;
}
#STL {
  padding-left: 5em;
  color: #f26522;
}
.map {
  text-align: center;
}

footer {
  font-family: 'PT Sans Narrow Bold', sans-serif;
  font-size: 1.25em;
  background-color: #00897f;
  width: 1230px;
  vertical-align: center;
  display: inline-block;
}

.footer-1 {
  text-align: center;
}

footer h1 {
  font-family: 'PT Sans Narrow Bold', sans-serif;
  font-size: 1.25em;
  color: #eeeeee;
}
/* mobile */
@media (max-width: 550px ) {
#hide {
  display: none;
}
.map {
  width: 550px;
}
.splash {
  width: 550px;
}
}
/* On devices wider than 660px */

@media(min-width: 660px) {

}

/* On devices wider than 940px */

@media(min-width: 940px) {

}

}
