/* body styling */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*ELEMENTS  */

h1 {
  font-family: 'PT Sans Narrow Bold', sans-serif;
  font-size: 1.875em;
  color: #323232;
}

h2 {
  font-family: 'PT Sans Narrow Bold', sans-serif;
  font-size: 1.5em;
  color: #00897f;
  text-transform: uppercase;
}

h3 {
  font-family: 'PT Serif', serif;
  font-size: 1em;
  line-height: 2em;
  color: #323232;
  text-transform: uppercase;
}

a {
  font-family: 'PT Serif Bold', serif;
  font-size: 1em;
  color: #f26522;
}

p {
  font-family: 'PT Serif', serif;
  font-size: .875em;
  line-height: 1.75em;
  color: #323232;
}

/* More SPECIFIC elements */

header h1 {
  font-family: 'PT Sans Narrow Bold', sans-serif;
}

a:link {
  text-decoration: none;
}

/* IMAGE Styling background */

.hero-image {
  background-image: url("../../assets/images/kats-hero.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* ~end image sytling~  */

/* Primary MENU Flexxed */

header {
  display: flex;
  flex-flow: nowrap row;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 1%;
}

.one {
  align-items: flex-start;
  order: 1;
  font-family: 'PT Sans Narrow Bold', sans-serif;
  font-size: 1.5em;
  color: #323232;
  font-weight: 600;
  padding-left: 2px;
}

.two {
  align-items: flex-end;
  padding-left: 50%;
  order: 2;
  text-transform: uppercase;
  word-spacing: 3em;
}

.two a {
  color: black;
  font-family: 'PT Sans', sans-serif;
  font-size: .9em;
  color: #323232;
}

/* ~end of MENU~  */

/*ABOUT Offerings flexxes*/

.content-offerings {
  display: block;
  margin: 80 auto 60 auto;
  padding: 0 15%;
  align-content: center;
}

.offerings-title {
  text-align: center;
}

.offerings-description {
  text-align: left;
}

/* end of offering section */

/* ABOUT the owners */

/*wrapper  */

.about-wrapper {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  margin: 0;
}

/*flex boxes  */

.about-row {
  background-color: #eeeeee;
  align-content: center;
  width: 270px;
}

#center-text {
  text-align: center;
}

/* individual styling */

#about-1 {
  order: 1;
  margin: 30px;
  padding: 30px;
}

#about-2 {
  order: 2;
  margin: 30px;
  padding: 30px;
}

/* end ABOUT */

/* Circular IMAGES of Cats  */

.image-box {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 80;
  margin-top: 80;
}

.round {
  border-radius: 75%;
}

#hide {
  margin-right: 55px;
}

/* end IMAGE */

/* CONTACT Info */

/* wrapper */

.container-contact {
  display: flex;
  flex-wrap: wrap;
  background-color: #eeeeee;
  justify-content: center;
  align-items: center;
  padding: 60px;
  margin: 0 auto;
  overflow: hidden;
}

/* flex boxes */

.contact-title {
  order: 0;
  margin-bottom: 45px;
  width: 100%;
  text-align: center;
}

.contact-row {
  flex-basis: auto;
  text-align: left;
  background-color: #ffffff;
  padding: 30px;
  width: 270px;
  margin: 30px;
}

/* contact flex box individual styling */

#contact-1 {
  order: 1;
}

#contact-2 {
  order: 2;
}

#STR {
  color: #f26522;
}

#STL {
  padding-left: 5em;
  color: #f26522;
}

/* END CONTACT */

/*MAP */

.map {
  background-image: url("../../assets/images/kats-map.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* FOOTER */

footer {
  width: 100%;
  font-family: 'PT Sans Narrow Bold', sans-serif;
  font-size: 1.25em;
  background-color: #00897f;
  vertical-align: middle;
  text-align: center;
  padding: 25px 0;
}

footer h1 {
  font-family: 'PT Sans Narrow Bold', sans-serif;
  font-size: 1.25em;
  color: #eeeeee;
}

/* MEDIA QUERIES */

/* mobile */

@media (max-width: 400px) {
  #hide {
    display: none;
  }
  header {
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
    white-space: pre;
  }
  .content-offerings {
    padding: 0;
    max-width: 80%;
    margin: 40;
  }
  .offerings-title {
    font-size: .7em;
  }
  .content-offerings h3 {
    font-size: .7em;
  }
  .about-wrapper {
    margin-bottom: 40px;
    background-color: #eeeeee;
    padding: 0;
  }
  .about-row {
    margin: 0;
  }
  #about-1 {
    padding-bottom: 0;

  }
  #about-2 {
    padding-top: 0;
  }
  .about-1, .about-2 {
    min-width: 310;
    align-content: center;
  }
  .image-box {
    margin-bottom: 40px;
    margin-top: 40px;
  }
  .container-contact {
    padding-bottom: 2px;
    padding-top: 0;
  }
  .container-contact h2 {
    font-size: 1.3em;
  }
  .contact-row {
    padding: 10px;
    margin: 0;
  }
  #contact-1, #contact-2 {
    min-width: 310px;
    background-color: transparent;
    margin-right: 0;
  }
}

/* On devices wider than 660px */

@media (min-width: 401px) and (max-width: 660px) {
  #hide {
    display: none;
  }
  header {
    padding-top: 2px;
    padding-bottom: 2px;
    white-space: pre;
  }
  .one {
    justify-content: center;
  }
  .offerings-title {
    font-size: .8em;
  }
  .content-offerings h3 {
    font-size: .7em;
  }
  .content-offerings {
    padding: 0;
    max-width: 80%;
    margin: 40;
  }
  .about-wrapper {
    background-color: #eeeeee;
    padding: 0;
  }
  .about-row {
    margin: 0;
  }
  .about-1, .about-2 {
    align-content: center;
    margin: 0;

  }
  .image-box {
    margin-bottom: 40px;
    margin-top: 40px;
  }
  .contact-row {
    margin: 0;
  }
  .container-contact h2 {
    font-size: 1.3em;
  }
  #contact-1, #contact-2 {
    min-width: 280px;
    background-color: transparent;
  }
}

/* Awkward inbetween  */

@media screen and (min-width: 661px) and (max-width: 960px) {
  #hide {
    display: none;
  }
  .two {
    padding-left: 10%;
    align-items: flex-start;
  }
  .content-offerings {
    padding: 0;
    margin: 40;
  }
  .about-wrapper {
    background-color: #eeeeee;
    padding: 0;
    margin:0;
  }
  .about-row {
    padding: 5px;
    min-width: 280px;
  }
  .about-1, .about-2 {
    min-width: 280;
    align-content: center;
    height: 250px;
    padding: 0;
  }
  .image-box {
    margin-bottom: 40px;
    margin-top: 40px;
  }
  .container-contact {
    background-color: #eeeeee;
  }
  .contact-row {
    padding: 5px;
    min-width: 280px;
  }
  #contact-1, #contact-2 {
    min-width: 280px;
    background-color: transparent;
    padding: 0;
  }
 .two {
   display: none;
 }
}

/* On devices wider than 940px */

@media(min-width: 961px) {
  body {
    margin: auto 60;
  }
  .image-box {
    margin: 80px 60px;
  }
  .two {
    padding-left: 60%;
  }
}
