body {   margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .page {
  display: flex;
  flex-wrap: wrap;
} */
.splash {
  background-image: url("../../assets/images/kats-hero.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* menu styling */
/* .wrapper {
  overflow: hidden;
} */
/* Primary Menu */
header {
  display: flex;
  flex-flow: nowrap row;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 80px;
  }

.one {
     align-items: flex-start;
     order: 1;
     font-family: 'PT Sans Narrow Bold', sans-serif;
     font-size: 1.5em;
     color: #323232;
     font-weight: 600;
     padding-left: 5px;
}
.two {
    align-items: flex-end;
    padding-left: 65%;
    order: 2;
    text-transform: uppercase;
    font-size: .9em;
    color:#323232;
    font-family: "PT Sans", sans-serif;
    word-spacing: 3em;
}
.two a {
  color: black;
}

h1 {
  font-family: 'PT Sans Narrow Bold', sans-serif;
  font-size: 1.875em;
  color: #323232;
}

header h1 {
  font-family: 'PT Sans Narrow Bold', sans-serif;
}
h2 {
  font-family: 'PT Sans Narrow Bold', sans-serif;
  font-size: 1.5em;
  color: #00897f;
  text-transform: uppercase;
}

h3 {
  font-family: 'PT Serif', serif;
  font-size: 1em;
  line-height: 2em;
  color: #323232;
  text-transform: uppercase;
}
a:link {
  text-decoration: none;
}
a {
   font-family: 'PT Serif Bold', serif;
   font-size: 1em;
   color: #f26522;
}


/* p {
 font-family: 'PT Serif', serif;
 font-size: .875em;
 line-height: 1.75em;
 color: #323232;
}*/

.main {}
 /* kat's motivation */
 .content-shop {
   display: block;
   margin: 80 auto 60 auto;
   padding: 0 15%;
   width: 1230;
   max-width: 65%;
 }
  .nav-title {
  text-align: center;
 }
 .nav-description {
  text-align: left;

 }

/* ABOUT section */
.contain-info {
 display: flex;
 width: 100%
 flex-wrap: wrap;
}

/* .info-row {
 order: 1;
 background-color: #eeeeee;
 padding: 30;
 width: 310;
 min-width: 200px;
 margin: auto 80;
} */

.info-row {
  background-color: #eeeeee;
  align-content: center;
  padding: 30;
  margin: auto 30px;
}
#info-1 {
 order: 1;

}
#info-2 {
 order: 2;

}
.image-box {
 display: flex;
 flex-wrap: nowrap;
 justify-content: center;
 margin: 80px auto;
}

.round {
 border-radius: 75%;
 padding: 0 55px;
}

.container-contact {
 display: flex;
 flex-wrap: wrap;
 background-color: #eeeeee;
 width: 100%;
 justify-content: center;
 align-items: center;
 padding-bottom: 80px;
 margin: 0 auto;
}

.contact-title {
 order: 0;
 margin-bottom: 45px;
 width: 100%;
 text-align: center;
}

.contact-row {
 flex-basis: auto;
 text-align: left;
 background-color: #ffffff;
 padding: 30px;
 margin: auto 30;
 width: 310px;
 -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}
#contact-1  {
  order: 1;
}
#contact-2 {
 order: 2;
}
#STR {
  color: #f26522;
}
#STL {
 padding-left: 5em;
 color: #f26522;
}
.map {
  background-image: url("../../assets/images/kats-map.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.footer-container {
  position: absolute;
  background-color: #00897f;
  display: block;
  padding: 0;
  min-width: 100%;
}

footer {
 font-family: 'PT Sans Narrow Bold', sans-serif;
 font-size: 1.25em;
 background-color: #00897f;
 vertical-align: middle;
 text-align: center;
}

footer h1 {
 font-family: 'PT Sans Narrow Bold', sans-serif;
 font-size: 1.25em;
 color: #eeeeee;
}


}
@media (min-width: 375px) and (max-width: 599) {
  #hide {
    display: none;
  }
/* mobile */

}
@media (max-width: 400px) {
#hide {
 display: none;
}
h1 {
  font-size: 16px;
  text-align: center;
}
h3 {
  font-size: 14px;
}

.splash {
  background-image: url("assets/images/kats-hero.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.map {
 max-width: 550px;
}

.info-1, .info-2 {
  min-width: 310;
}
.container-contact {
  padding-bottom: 2px;
  padding-top: 0;
}
.contact-row {
  padding: 10px;
  margin: 30 auto;
}
#contact-1, #contact-2 {
  min-width: 310px;
  background-color: transparent;
}
.nav {
  text-align: center;
}
}
/* On devices wider than 660px */

@media (min-width: 401px) and (max-width: 960px) {
  #hide {
   display: none;
  }
}

/* On devices wider than 940px */

@media(min-width: 961px) {
  body {
    margin: auto 60;
  }

}

}
